.head{
	width: 1500px;
	height: 1120px;
	border: 1px yellow solid;
	background-image: url(../images/4.jpg);
	background-size: 1500px 1120px;
}

h1{
	margin-left: 600px;
	margin-top: 250px;
	font-size: 60px;
	font-family: '华文彩云';
	color: red;
}

h2{
	margin-left: 610px;
	font-family: '华文琥珀';
	color: blue;
	margin-bottom: 650px;
}

a{
	margin-left: 1300px;
	margin-top: 500px;
	text-decoration: none;
	color: yellow;
	font-size: 30px;
}